.scroll-parent {
    position: relative;
    width: 95vw;
    height: 4rem;
    overflow: hidden;
}

.company-image-container {
    /* width: inherit;
    height: inherit; */
    position: absolute;
    left: 0%;
    top: 0%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}


.primary {
    animation: primary 20s linear infinite;
}

.secondary {
    margin-left: 10%;
    animation: secondary 20s linear infinite;
}

@keyframes primary {
    from {
        left: 0%;
    }

    to {
        left: -100%;
    }
}

@keyframes secondary {
    from {
        left: 100%;
    }

    to {
        left: 0%;
    }
}


@media screen and (max-width:1110px) {
    .scroll-parent {
        max-width: 90vw;
    }
}