.user-post-scroll::-webkit-scrollbar {
    width: 0.5em;
    height: 100px;
}

/* Track */
.user-post-scroll::-webkit-scrollbar-track {
    background: #e4e4e4;
}


.user-post-scroll::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
}